#title {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-brand {
  position: fixed;
}
.top-social {
  float: left;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-right: 1px solid #e5e5e5;
}
.top-social a {
  color: #252525;
  font-size: 14px;
  display: inline-block;
  margin-right: 15px;
}

.dropdown {
  position: relative;
  text-align: right;
}
/*---styling the navbar---*/
.container-fluid {
  background-color: rgb(219, 219, 245);
  padding: 1% 5%;
}
#nav {
  background-color: rgb(219, 219, 245);
}
.btn1 {
  margin: 4px;
  border-radius: 20px;
  padding: 2px 40px;
  font-size: 15px;
  background-color: rgb(5, 5, 58);
  color: white;
  border: 2px solid black;
  transition: 0.6s;
  width: 25%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn2 {
  margin: 4px;
  border-radius: 20px;
  padding: 2px 40px;
  font-size: 15px;
  background-color: rgb(6, 5, 12);
  color: white;
  border: 2px solid black;
  transition: 0.6s;
  width: 25%;
}
.btn1:hover {
  background-color: white;
  color: black;
}
.btn2:hover {
  background-color: white;
  color: black;
}
.nav-item {
  margin: 20px;
}
/*intro section style */
#intro-section {
  padding: 10% 5%;
  border-radius: 30px;
}
.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.headingP {
  color: white;
}
.headingP1 {
  color: white;
  background-color: black;
}
#headingClass {
  color: white;
}
.intro {
  text-align: left;
  padding: 15% 5%;
}
.into {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.profile-img {
  width: 400px;
  height: 70%;
}
.btn-intro {
  border-radius: 20px;
  background-color: rgb(5, 5, 58);
  color: white;
  padding: 2px 40px;
}
.btn-intro1 {
  border-radius: 20px;
  background-color: rgb(6, 5, 12);
  color: white;
  margin-top: 40px;
  padding: 2px 40px;
}
.btn-intro:hover {
  background-color: white;
  color: black;
}
.btn-intro1:hover {
  background-color: white;
  color: black;
}

.hero-items .single-hero-items {
  height: 725px;
  padding-top: 210px;
}

.hero-items .single-hero-items span {
  color: #e7ab3c;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 28px;
  display: inline-block;
  position: relative;
  top: 50px;
  opacity: 0;
}

.hero-items .single-hero-items h1 {
  color: white;
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 6px;
  position: relative;
  top: 50px;
  opacity: 0;
  margin-right: 30px;
}

.hero-items .single-hero-items p {
  margin-bottom: 42px;
  position: relative;
  top: 100px;
  opacity: 0;
}

.hero-items .single-hero-items .primary-btn {
  position: relative;
  top: 100px;
  opacity: 0;
}

.hero-items .off-card {
  height: 154px;
  width: 154px;
  padding-top: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 140px;
  position: absolute;
  left: 47%;
  top: 160px;
  background: #2623be;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
}

.hero-items .off-card:after {
  position: absolute;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 2px dashed #ffffff;
  content: "";
  border-radius: 50%;
  z-index: -1;
}

.hero-items .off-card h2 {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.hero-items .off-card h2 span {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 6px;
}

.hero-items .owl-item.active .single-hero-items span,
.hero-items .owl-item.active .single-hero-items h1,
.hero-items .owl-item.active .single-hero-items p,
.hero-items .owl-item.active .single-hero-items .primary-btn {
  top: 0;
  opacity: 1;
}

.hero-items .owl-item.active .single-hero-items span {
  -webkit-transition: all 0.2s ease 0.2s;
  -o-transition: all 0.2s ease 0.2s;
  transition: all 0.2s ease 0.2s;
}

.hero-items .owl-item.active .single-hero-items h1 {
  -webkit-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}

.hero-items .owl-item.active .single-hero-items p {
  -webkit-transition: all 0.6s ease 0.6s;
  -o-transition: all 0.6s ease 0.6s;
  transition: all 0.6s ease 0.6s;
}

.hero-items .owl-item.active .single-hero-items .primary-btn {
  -webkit-transition: all 0.8s ease 0.8s;
  -o-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
}

.hero-items .owl-item.active .single-hero-items .off-card {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 1s ease 1s;
  -o-transition: all 1s ease 1s;
  transition: all 1s ease 1s;
}

.hero-items .owl-nav button[type="button"] {
  font-size: 30px;
  position: absolute;
  left: 40px;
  top: 45%;
  color: #252525;
}

.hero-items .owl-nav button[type="button"]:hover {
  color: #dfad51;
}

.hero-items .owl-nav button[type="button"].owl-next {
  left: auto;
  right: 40px;
}
.set-bg {
  border-radius: 30px;
  height: 100px;
  width: 1500px;
}

.countdown-timer {
  text-align: center;
  margin-bottom: 50px;
}

.countdown-timer .cd-item {
  display: inline-block;
  background: #ffffff;
  margin-right: 35px;
  padding: 10px 14px;
  border-radius: 5px;
}

.countdown-timer .cd-item:last-child {
  margin-right: 0;
}

.countdown-timer .cd-item span {
  color: blue;
  font-weight: 700;
  line-height: 40px;
  font-size: 36px;
}

.countdown-timer .cd-item p {
  font-size: 16px;
  color: #b2b2b2;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/*---------------------
  Banner Section
-----------------------*/

/* key features section */
.container-key-features {
  background-color: rgb(5, 5, 58);
  padding: 10% 5%;
  text-align: center;
  border-radius: 30px;
  border-spacing: 20px;
}
.head {
  font-size: 2rem;
  color: white;
  position: relative;
  text-align: center;
  bottom: 50px;
}
.feature-desciption {
  color: white;
}
.feature-head {
  color: white;
}
.col-lg-4:hover {
  background-color: rgb(9, 7, 20);
  border-radius: 2%;
  height: 50%;
  position: relative;
}
.design-img {
  height: 60%;
  width: 50%;
}
/* comment section style */
#comment {
  background-color: rgb(219, 219, 245);
  padding: 10% 5%;
  border-radius: 30px;
  text-align: center;
}
.comment-header {
  font-size: 2rem;
  color: black;
  position: relative;
  bottom: 100px;
}
.comment-body {
  letter-spacing: 1px;
  background-color: rgb(8, 8, 99);
  display: inline-flexbox;
  color: white;
}
.comment-images {
  border-radius: 100px;
  width: 150px;
}
.comment-occupation {
  position: relative;
  left: 150px;
  bottom: 50px;
  opacity: 0.5;
}
/* contact */
#contact {
  background-color: rgb(8, 8, 99);
  padding: 5% 5%;
  border-radius: 30px;
  color: white;
}
.footer-section {
  background-color: white;
  padding: 2% 2%;
}
.footer-widget {
  margin-left: 250%;
  margin-bottom: 30%;
}

.copyright-reserved {
  background-color: black;
  color: white;
  text-align: center;
}
.submit-btn {
  margin: 4px;
  border-radius: 20px;
  padding: 2px 40px;
  font-size: 15px;
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: 0.6s;
  width: 25%;
}
.submit-btn:hover {
  background-color: black;
  color: white;
}

.footer-left .footer-social {
  padding-top: 25px;
}

.footer-left .footer-social a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: #434445;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 7px;
  position: relative;
  z-index: 1;
}

.footer-left .footer-social a:hover:before {
  opacity: 1;
}

.footer-left .footer-social a:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #3a26ee;
  content: "";
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}
